.pi-background {
    background-color: #fff;
    color: #000;
}

.portable-infobox {
    border-radius: 5px;
    border: 0px solid #f00;
    width: 250px;
    margin: 10px 12px 5px 10px;
    box-shadow: 0 0 5px #000;
}

.names {
    padding-right: 5px;
}

aside, figure {
    display: block;
}

.pi-title:first-child {
    border-radius: 0px 0px 0 0;
}

.portable-infobox .pi-title {
    font-size: 17px;
    line-height: 22px;
    padding: 0;
    margin: -2px 0px 0px -5px;
    width: 104%;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
}

.pi-image {
    text-align: center;
}

.WikiaArticle img {
    vertical-align: middle;
}

.pi-image-thumbnail {
    height: 100%;
    width: 100%;
}

.portable-infobox .pi-item-spacing {
    padding: 4px 5px;
}

.portable-infobox .pi-item-spacing {
    padding: 5px 10px;
}

.pi-data {
    justify-content: center;
}

.pi-data {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
}

.pi-data, .pi-group {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.pi-border-color {
    border-color: #bfdaeb;
}

.pi-data-value {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 12px;
    line-height: 18px;
    padding-left: 0;
    word-break: break-word;
}

b {
    font-weight: bold;
}

.portable-infobox .pi-data-value > *, .portable-infobox .pi-data-value li {
    margin: 0;
}

.group-layout {
    width: 230px;
    padding-left: 10px;
}

.pi-data, .pi-group {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.pi-border-color {
    border-color: #bfdaeb;
}

.portable-infobox .pi-header {
    padding: 0;
    text-align: center;
}

.portable-infobox .pi-item-spacing {
    padding: 4px 5px;
}

.portable-infobox .pi-header, .portable-infobox .pi-title {
    border: 0;
    margin: 0;
}

.portable-infobox .pi-secondary-font {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    margin-top: 0;
}

.pi-data-label {
    flex-basis: 140px;
}

img, span {
    border: 0;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

.WikiaArticle img {
    vertical-align: middle;
}

.pi-image-thumbnail {
    height: 100%;
    width: 100%;
}

h2 {
    background-color: #007bff;
}