html, body {
    height: 100%;
    background-color: gray;
}

.WikiaTop .WikiaAdsInner {
    zoom: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.WikiaPage {
    border: 1px solid #cccccc;
    border-top-color: rgb(204, 204, 204);
    margin: 0 auto;
    position: relative;
    z-index: 3;
    padding: 50px 24px;
    width: 1000px;
}

.WikiaPage .WikiaPageBackground {
    background: #ffffff;
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
}

.WikiaPage .WikiaPageContentWrapper {
    zoom: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: relative;
}

.WikiaPage .page-header {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding: 16px 0 12px;
    position: relative;
    width: 100%;
    z-index: 4;
}

.WikiaPage .page-header__separator {
    background-color: #cccccc;
    border: 0;
    height: 1px;
    margin-bottom: 18px;
    margin-top: 0;
    width: 100%;
}

.WikiaPage .page-header__main {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
}

.WikiaPage .page-header__title {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    color: #3a3a3a;
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    max-width: 100%;
    word-wrap: break-word;
}

.oasis-one-column .WikiaMainContent {
    width: 100%;
}

.oasis-one-column .WikiaMainContent {
    width: 1000px;
}

.WikiaMainContent {
    width: 100%;
}

.WikiaMainContent {
    position: relative;
    width: 680px;
    z-index: 1;
}

.WikiaPage .WikiaArticle {
    font-size: 14px;
    line-height: 22px;
}

.WikiaArticle {
    line-height: 23px;
    font-size: 13px;
}

.WikiaArticle {
    padding: 0;
}

.WikiaArticle {
    min-height: 250px;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    word-wrap: break-word;
    z-index: 1;
}

.WikiaArticle, .wikia-infobox {
    font-size: 13px;
    line-height: 21px;
}

.WikiaArticle .info-img {
    float: left;
    margin: 7px 7px 7px 0;
    max-width: 150px;
    height: auto;
}

form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    height: 42px;
}

input {
    height: 42px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

input:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid #F9F0DA;
}

.search-button {
    background: #D8E9FC;
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.search-button:before {
    font-size: 16px;
    color: #F9F0DA;
}


